*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 52.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #eee;
  border-top: 1px solid #007bb0; }
  .footer__logo {
    height: 8rem; }
  .footer__details {
    text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .header__title {
    font-size: 6rem;
    width: 40%; }
  .header__recent {
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__recent--title {
      font-size: 2rem; }
    .header__recent--name {
      font-size: 1.5rem; }

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #007bb0;
  height: 15vh;
  background-color: #eee; }
  .navbar__logo {
    height: 12rem; }
  .navbar__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    list-style-type: none; }
  .navbar__link:link, .navbar__link:visited {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: all .2s; }
  .navbar__link:hover, .navbar__link:active {
    color: #D4AF37;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em); }
