.footer {
    background-color: #000000;
    grid-row: 4;
    grid-column: 1 / -1;

    &__copyright {
        font-size: 1.4rem;
        color: white;
        margin-top: 6rem;
        text-align: center;
    }
}

.footer-nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        color: #ffd700;
        box-shadow: 0 0.5em 0.5em -0.4em;
        transform: translateY(-0.25em);
    }
}