.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.header {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-size: 6rem;
        width: 40%;
    }

    &__recent {
        height: 40vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--title {
            font-size: 2rem;
        }

        &--name {
            font-size: 1.5rem;
        }
    }
}